<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form class="" action="index.html" method="post">
	<label><input type="text" name="name" value="">Name</label>
	<label><input type="text" name="password" value="">Password</label>
</form>
